<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section style='margin-top: 150px'>
    <ng-payment-card></ng-payment-card>
  </section>
</ion-content>
